


.Headcontainer{
    display: flex;
    flex-direction: column;
    border: solid yellow 4px;
}
.Header{
    text-align: center;
}
.container{
    display: flex;
}


ul{
    list-style-type: none;   
    border: solid black 3px;
    background-color: lightslategray;
    padding-left: 0;
    margin-top:0;
    margin-bottom: 0;
}
.text {
    border: solid black 3px;
    background-color: darkgreen;
    padding: 4px;
}
li a {
    text-decoration: none;
    color: black;
    padding: 4px;
}