body {
    background-color: powderblue;
  }
  h1 {
    color: rgb(0, 0, 0);
  }
  p {
    color: red;
  }



  .Header {
    max-height: fit-content;
    max-width: fit-content;
    background-color: antiquewhite;
    border: solid;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    animation-name: hor-movement, ver-movement;
    animation-duration: 3.141s, 1.414s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes hor-movement {
    from {
      margin-left: 0%;
    }
    to {
      margin-left: 80%;
    }
  }
  
  @keyframes ver-movement {
    from {
      margin-top: 0%;
    }
    to {
      margin-top: 45%;
    }
  }
 
